.btn-primary {
    min-width: 16rem;
    padding: 1rem 2rem;
    background-color: rgba(255, 60, 100, 1);
    color: white;
    transition: all 100ms;
    border: solid 2px rgba(255, 60, 100, 1);
}

.btn-primary:hover {
    background-color: rgb(255, 106, 135);
}

.btn-secondary {
    padding: 1rem 3rem;
    background-color: transparent;
    border: solid 2px brown;
    color: brown;
    transition: all 100ms;
}

.btn-secondary:hover {
    background-color: rgba(253, 165, 182, 0.5);
}