@import "./index.css";

.page-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 1rem 0 3rem;
}

.choco-container {
  display: flex;
  flex-direction: row;
}

.image-box {
  position: relative;
  height: 24rem;
  box-sizing: border-box;
  border: solid 2px var(--primary);
  border-radius: 2rem;
}

.image {
  height: 100%;
  max-width: 400px;
  border-radius: 2rem;
  object-fit: cover;
  display: block;
  backface-visibility: hidden;
}

.choco-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 2rem;
}

.choco-props > * {
  margin: 1.5rem 0 0;
}

.choco-title {
  margin: 0;
}

.choco-desc {
  margin: 0.5rem 0;
}

.amount-modifier {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.mod {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.mod-number {
  margin: 0 2rem;
  text-align: center;
  width: 10rem;
  border: solid 2px var(--primary2);
  border-radius: 3rem;
}

.total-container {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
}
.total-display {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#plus,
#minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  border: solid 4px rgb(0, 161, 86);
}

#plus {
  background-color: rgb(35, 198, 108);
  border: solid 4px rgb(0, 161, 86);
}

#minus {
  background-color: rgb(211, 12, 61);
  border: solid 4px rgb(145, 5, 40);
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  flex-grow: 1;
  margin-top: 10rem;
}

.btn-group > button {
  margin: 0 1rem;
}
