@import "./index.css";

.container {
  display: block;
}

.chocolate-container {
  display: flex;
  margin-top: 20px;
}

.image-box {
  position: relative;
  height: 24rem;
  box-sizing: border-box;
  border: solid 2px var(--primary);
  border-radius: 2rem;
}

.image {
  height: 100%;
  max-width: 400px;
  border-radius: 2rem;
  object-fit: cover;
  display: block;
  backface-visibility: hidden;
}

.desc {
  padding: 2rem;
}

.text-subtitle {
  margin: 0.5rem 0;
}

