/* =================================================================== 
 * Base Stylesheet
 * ------------------------------------------------------------------
 *
 *  TOC:
 *      # i. Imports
 *      # A. Custom Normalize
 *      # B. Typography
 *      # C. Global Classes
 *      # D. Colors
 *
 * =================================================================== */

/* * ===================================================================
   * # i. Imports
   * ------------------------------------------------------------------- */

@import "./components/buttons.css";

/* * ===================================================================
       * # C. Variables
       * ------------------------------------------------------------------- */

/* ===================================================================
 * # A. Custom Normalize
 * ------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none !important;
}

a:hover {
  color: inherit;
}

main {
  display: block;
  height: 100%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* # End of Normalize
   * ----------------------- */
/* * ===================================================================
   * # B. Typography
   * ------------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

.text-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}

.text-subtitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.text-content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

/* * ===================================================================
     * # C. Variables
     * ------------------------------------------------------------------- */
:root {
  /* $ VARIABLES */

  /* > Colors */

  /* 1> Primary:*/
  --primary: rgb(198, 35, 73);
  --primary2: rgb(248, 76, 110);
  --primary-light1: rgb(233, 116, 143);
  --primary-light2: pink;

  /*  1> Secondary: */
  /* --secondary1: #dd7e3e;
  --secondary2: #d48748;
  --secondary-dark1: #643713;
  --secondary-dark2: #7e3f0b; */

  /* 1> Accent: */
  /* --accent1: #263aee;
  --accent2: #6886e7;
  --black-true: #000; */

  /* background-color: var(--primary); */
}
/* # End of Variables
       * ----------------------- */

/* ===================================================================
* # D. Global classes
* ------------------------------------------------------------------- */
.container {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* # End of Variables
     * ----------------------- */
