@import "./index.css";

.container {
  background-color: var(--primary-light1);
  margin: 100px auto;
  max-width: 50vw;
  min-width: 600px;
  min-height: 60vh;
  border-radius: 5rem;
}

.label {
  font-size: 24px;
  color: white;
}

.text-input {
  border-radius: 1rem;
  padding: 5px;
  outline: none;
  width: 30vw;
  margin: 10px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  overflow: hidden;
  resize: none;
}

.text-content {
  color: rgb(250, 225, 225);
}

.text-title {
  font-weight: 700;
  font-size: 30px;
  color: white;
}