.choco-card {
  width: 80vw;
  margin: 2rem 3rem;
  border: solid 2px var(--primary);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}


.card-image-box {
  position: relative;
  height: 24rem;
  box-sizing: border-box;
}

.card-image {
  height: 100%;
  max-width: 400px;
  object-fit: cover;
  display: block;
  backface-visibility: hidden;
}

.card-desc {
  padding: 2rem;
  border-left: solid 2px var(--primary);
}

.card-title {
  margin-bottom: 15px;
  cursor: pointer;
}

.card-title:hover {
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .card-image {
    max-width: 300px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .choco-card {
    width: 80vw;
    height: 150px;
    margin: 2rem 0;
  }
  .card-image-box {
    height: 15rem;
  }
  .card-image {
    max-width: 150px;
    object-fit: cover;
  }
  .text-subtitle {
    font-size: 12px;
  }
  .text-content {
    font-size: 11px;
  }
  .card-desc .text-title {
    font-size: 17px;
  }
}
